{% extends 'base.html.twig' %}

{% block title %}Modification mot de passes{% endblock %}

{% block content %}

<h1>Modifier le mot de passe</h1>

    <a href="{{path('app_account')}}"> Retourner à mon compte</a><br>
<hr>

{% if notification %}
    <div class="alert alert-info">{{notification }}</div>
{% endif %}

    {{form(form)}}

<hr>
{% endblock %}

